<!DOCTYPE html>
%html
  %head
    %title Список страниц
  %body
    %ul
      %li
        %a{href: 'system_login.html'} Логин
      %li
        %a{href: 'system_login_errors.html'} Логин (ошибки)
      %li
        %a{href: 'system_signup.html'} Регистрация
      %li
        %a{href: 'system_signup_errors.html'} Регистрация (ошибки)
      %li
        %a{href: 'system_signup_pin.html'} Регистрация (пин)
      %li
        %a{href: 'system_reset_password.html'} Восстановление пароля
      %li
        %a{href: 'product_list.html'} Товары списком
      %li
        %a{href: 'product_categories.html'} Товары с категориями справа
      %li
        %a{href: 'edit_product_guide.html'} Редактирование товара (гайд)
      %li
        %a{href: 'edit_product_ordinary.html'} Редактирование товара (обычный товар)