<!DOCTYPE html>
%html
  %head
    %title Список страниц
  %body
    %ul
      %li
        %a{href: 'login.html'} Логин
      %li
        %a{href: 'login_errors.html'} Логин (ошибки)
      %li
        %a{href: 'signup.html'} Регистрация
      %li
        %a{href: 'signup_errors.html'} Регистрация (ошибки)
      %li
        %a{href: 'signup_pin.html'} Регистрация (пин)
      %li
        %a{href: 'reset_password.html'} Восстановление пароля
      %li
        %a{href: 'edit-product.html'} Редактирование товара