<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.mini-navbar
    / Wrapper
    #wrapper
      +include './app/shared/_navbar_side.haml'

      / Page Wrapper
      #page-wrapper.gray-bg
        .row.wrapper.page-heading
          .col-sm-7
            %h1.page-title
              Товары
            .m-t-sm
              %a.btn.btn-primary{href: '#'} != '<small><i class="fa fa-plus"></i></small> Добавить новый товар'
        .row
          .col-lg-12
            .wrapper.wrapper-content
              .ibox
                .ibox-content.p-none
                  .project-list
                    %table.table.table-page.m-b-none
                      %tbody
                        %tr
                          %td
                            .m-r-md
                              .row.row-xs
                                .col-lg-8
                                  %p.m-t.m-b-xs
                                    Фильтр
                                    %a.collapse-link
                                      %small
                                        %i.fa.fa-chevron-up.text-muted
                                  %div
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}>
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Категории <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li.active
                                          %a{href: '#', title: 'Все категории'} Все категории
                                        %li
                                          %a{href: '#', title: 'Кольца'} Кольца
                                        %li
                                          %a{href: '#', title: 'Браслеты'} Браслеты
                                        %li
                                          %a{href: '#', title: 'Серьги'} Серьги
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}>
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Наличие фото <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li
                                          %a{href: '#', title: 'С фото и без'} С фото и без
                                        %li
                                          %a{href: '#', title: 'С фото'} С фото
                                        %li
                                          %a{href: '#', title: 'Без фото'} Без фото
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}>
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Видимость <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li
                                          %a{href: '#', title: 'Опубликованные'} Опубликованные
                                        %li
                                          %a{href: '#', title: 'Неопубликованные'} Неопубликованные
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}>
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Количество <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li
                                          %a{href: '#', title: 'Нулевой остаток'} Нулевой остаток
                                        %li
                                          %a{href: '#', title: 'Больше 10'} Больше 10
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}>
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Варианты <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li
                                          %a{href: '#', title: 'Без вариантов'} Без вариантов
                                    .btn-group.m-t-xs.m-r-xs.m-b-xs{role: 'group'}
                                      %button.btn.btn-outline.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} != 'Статус <span class="caret"></span>'
                                      %ul.dropdown-menu.dropdown-menu-base
                                        %li
                                          %a{href: '#', title: 'С ошибками'} С ошибками
                                .col-lg-4
                                  .m-t-lg.hidden-xs.hidden-sm.hidden-md.hidden
                                  %form{action: '?'}
                                    .input-group.m-t-xs.m-b-xs
                                      %input.form-control{type: 'text', placeholder: 'Поиск'}
                                      %span.input-group-btn
                                        %button.btn.btn-primary Найти
                  .project-list.table-responsive
                    %table.table.table-hover.table-striped.table-page.m-b-none
                      %thead
                        %tr
                          %td{colspan: '6'}
                            .m-r-md
                              .row.row-xs
                                .col-lg-8
                                  .form-inline
                                    .form-group.m-r-xs.m-b-sm
                                      %span.inline{data: {toggle: 'tooltip', container: 'body'}, title: 'Выделение всех товаров'}
                                        %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                                      %span.inline.text-muted.m-l-xs Выделено 345 товаров
                                    .form-group.inline.m-b-none
                                      .dropdown.m-t-xs.m-b-xs
                                        %button.btn.btn-outline.btn-default.btn-block{data: {toggle: 'dropdown'}} != 'Выберите действие <span class="caret"></span>'
                                        %ul.dropdown-menu.dropdown-menu-base
                                          %li
                                            %a{href: '#', title: 'Редактировать'} != '<i class="fa fa-pencil m-r-xs"></i> Редактировать'
                                          %li
                                            %a{href: '#', title: 'Показать'} != '<i class="fa fa-eye m-r-xs"></i> Показать'
                                          %li
                                            %a{href: '#', title: 'Спрятать'} != '<i class="fa fa-eye-slash m-r-xs"></i> Спрятать'
                                        / %select.form-control
                                        /   %option{value: 'Выберите действие'} Выберите действие
                                        /   %option{value: 'Спрятать/Показать'} Спрятать/Показать
                                        /   %option{value: 'Редактировать'} Редактировать
                                    / .form-group.m-r-xs
                                    /   .m-t-xs.m-b-xs
                                    /     %select.form-control{ks-select2: true}
                                    /       %option{value: 'Все категории'} Все категории
                                    /       %option{value: 'Кольца'} Кольца
                                    /       %option{value: 'Браслеты'} Браслеты
                                    /       %option{value: 'Серьги'} Серьги
                                / .col-lg-2
                                /   .dropdown.m-t-xs.m-b-xs
                                /     %button.btn.btn-outline.btn-default.btn-block{data: {toggle: 'dropdown'}} != 'Фильтр <span class="caret"></span>'
                                /     %div.dropdown-menu.dropdown-menu-filter
                                /       .form-group
                                /         %label.control-label.sr-only Категории
                                /         %select.form-control
                                /           %option{value: 'Все категории'} Все категории
                                /           %option{value: 'Кольца'} Кольца
                                /           %option{value: 'Браслеты'} Браслеты
                                /           %option{value: 'Серьги'} Серьги
                                /       .form-group
                                /         %label.control-label.sr-only Фильтр 2
                                /         %select.form-control
                                /           %option{value: 'С фото и без'} С фото и без
                                /       .form-group
                                /         %label.control-label.sr-only Фильтр 3
                                /         %select.form-control
                                /           %option{value: 'Опубликованные'} Опубликованные
                                /       .form-group
                                /         %label.control-label.sr-only Фильтр 4
                                /         %select.form-control
                                /           %option{value: 'Нулевой остаток'} Нулевой остаток
                                /       .form-group
                                /         %label.control-label.sr-only Фильтр 5
                                /         %select.form-control
                                /           %option{value: 'Без вариантов'} Без вариантов
                                /       .form-group
                                /         %label.control-label.sr-only Фильтр 6
                                /         %select.form-control
                                /           %option{value: 'С ошибками'} С ошибками
                                /       .form-group
                                /         %button.btn.btn-success.btn-block Применить
                                / .col-lg-4
                                /   %form{action: '?'}
                                /     .input-group.m-t-xs.m-b-xs
                                /       %input.form-control{type: 'text'}
                                /       %span.input-group-btn
                                /         %button.btn.btn-primary Найти
                      %tbody
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %i.fa.fa-eye-slash.text-danger.m-r-sm
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                            %button.btn.btn-outline.btn-warning.btn-sm.btn-rounded.m-t-xs{href: '#'} Еще 30 характеристик
                          %td
                            8 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.

                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %i.fa.fa-eye-slash.text-danger.m-r-sm
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                          %td
                            2 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.
                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                          %td
                            6 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.
                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                          %td
                            11 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.
                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %i.fa.fa-eye-slash.text-danger.m-r-sm
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                          %td
                            1 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.
                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                        %tr
                          %td
                            %input.i-checks{type: 'checkbox', value: '', checked: true, ks-icheck: true}
                          %td.project-image
                            %img.img-circle.project-image{src: 'http://thumbor.kiiiosk.ru/unsafe/64x64/http://assets.kiiiosk.ru/uploads/product_image/image/7717/b87fe2ab-22df-4144-bfa3-a358c8e6005a.jpg', alt: 'Product none'}
                          %td.project-title
                            %a.m-r-sm{href: 'http://wannabe.aydamarket.ru/operator/products/21769/edit'} Миникольцо Дабл Икс с цирконами золоченое р
                            %ul.m-b-none
                              %li
                                %small.text-muted Артикул: MR003-15/RU
                              %li
                                %small.text-muted Размер: XL
                          %td
                            8 вар.
                            %br
                            %br
                            1 шт.
                          %td
                            %b.text-nowrap 5 900 руб.
                          %td
                            %i.fa.fa-arrows-v.handle.ui-sortable-handle{data: {sort-success-action: 'nothing', sort-url: '/operator/products/21769-minikoltso-dabl-iks-s-tsirkonami-zolochenoe-r/sort'}
                  .p-r-lg.p-l-lg
                    %ul.pagination
                      %li.page.active>
                        %a{href: 'javascript:void(0)'} 1
                      %li.page>
                        %a{href: '/operator/products?page=2', rel: 'next'} 2
                      %li.page>
                        %a{href: '/operator/products?page=3', rel: 'next'} 3
                      %li.page>
                        %a{href: '/operator/products?page=4', rel: 'next'} 4
                      %li.page>
                        %a{href: '/operator/products?page=5', rel: 'next'} 5
                      %li.page.gap.disabled>
                        %a{href: 'javascript:void(0)'} &hellip;
                      %li.next>
                        %a{href: '/operator/products?page=2', rel: 'next'} &rsaquo;
                      %li.last
                        %a{href: '/operator/products?page=74'} &raquo;
        .footer
          .pull-right != '10GB of <strong>250GB</strong> Free.'
          %div != '<strong>Copyright</strong> Example Company &copy; 2014-2015'

    / Scripts
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/local.js'}