<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head_system.haml'
  %body
    .navbar-transparent
      .container
        .login__navbar-logo-block
          %a.login__navbar-logo{href: 'index.html'}
    .login__content.login__content--fullscreen
      .login__block
        %form.login__form{action: 'signup_errors.html'}
          .login__form-header Создание магазина
          %input.login__form-input{:placeholder => "Введите название магазина", :required => "", :type => "text"}
          %input.login__form-input{:placeholder => "Номер телефона", :required => "", :type => "tel"}
          %select.login__form-select{placeholder: 'Your name'}
            - cities = ['Москва', 'Лобня', 'Реутов']
            %option{selected: 'selected'} Выберите город
            - for i in cities
              %option= "#{i}"
          .login__form-actions
            %button.login__form-submit-btn Продолжить

        %p.color-text-light
          Уже есть магазин?
          %br
          %a{href: 'login.html'}
            %strong Войти
