<!DOCTYPE html>
%html
  %head
    +include './app/shared/system/_head.haml'
  %body
    +include './app/shared/system/_login_navbar.haml'
    .login__content.login__content--fullscreen
      .login__block
        %form.login__form
          .login__form-header Восстановление пин-кода
          %input.login__form-input{:placeholder => "Номер телефона", :required => "", :type => "tel"}
          .login__form-actions
            %button.login__form-submit-btn Получить новый пин-код

        %p.color-text-light
          Уже есть магазин?
          %a{href: '#/registration'}
            %strong Войти

