<!DOCTYPE html>
%html
  %head
    +include './app/shared/system/_head.haml'
  %body
    +include './app/shared/system/_login_navbar.haml'
    .login__content.login__content--fullscreen
      .login__block
        .alert.alert-danger Обнаружены ошибки, пожалуйста, взгляните на них
        %form#new_operator_login_form.simple_form.login__form{action: 'orders.html'}
          .login__form-header Авторизация
          .form-group.tel.required.operator_login_form_phone.has-error
            %label.control-label.sr-only ргн
            %input#operator_login_form_phone.string.tel.required.form-control{type: 'tel', placeholder: 'ргн', value: 'sdsd'}
            %span.help-block Неверный формат телефона
          .form-group.string.required.operator_login_form_pin_code
            %label.control-label.sr-only ргн
            %input#operator_login_form_pin_code.string.required.form-control{type: 'text', placeholder: 'ргн', value: 'sdsdsd'}
          .login__form-actions
            %input.btn.login__form-submit-btn{type: 'submit', value: 'Войти'}
        .row
          .col-sm-6
            %p
              Нет аккаунта?
              %br
              %a{href: 'signup.html'}
                %strong Создать магазин
          .col-sm-6
            %p
              Забыли пароль?
              %a{href: 'reset_password.html'}
                %strong Восстановить