// Alert
$alert-success-bg: $navy
$alert-success-color: #fff

$alert-info-bg: $lazur
$alert-info-color: #fff

$alert-warning-bg: $yellow
$alert-warning-color: #fff

$alert-danger-bg: $red
$alert-danger-color: #fff