/ Layout Sidebar
.adm-layout-sidebar
  / Sidebar Nav
  %nav.adm-sidebar-nav
    %ul.adm-sidebar-nav-list
      - links = [{slug: 'shop', icon: 'adm-icon-panel', title: 'Магазин Wannabe', href: '#todo'}, {slug: 'info', icon: 'adm-icon-question-mark', title: 'Дешборд', href: 'adm-dashboard.html'}, {slug: 'categories', icon: 'adm-icon-folder', title: 'Категории', href: 'adm-categories.html'}, {slug: 'orders', icon: 'adm-icon-basket', title: 'Заказы', href: 'adm-orders-list.html'}, {slug: 'promocodes', icon: 'adm-icon-gift', title: 'Промокоды', href: '#'}, {slug: 'settings', icon: 'adm-icon-layers', title: 'Страницы', href: 'adm-textpages.html'}, {slug: 'settings', icon: 'adm-icon-cogwheel', title: 'Настройки', href: '#todo'}]
      - for l of links
        - l = links[l]
        - li_class = ''
        - if l.slug == 'categories'
          - li_class = 'selected'
        %li.adm-sidebar-nav-item{class: "#{li_class}"}
          %a.adm-sidebar-nav-link{href: "#{l.href}"}
            %i.adm-sidebar-nav-icon{class: "#{l.icon}"}>
            = l.title
        - if l.slug == 'shop'
          %li.adm-sidebar-nav-sep
  / end Sidebar Nav
/ end Layout Sidebar