/ Topbar
.adm-topbar
  .adm-topbar-inner
    .adm-topbar-row
      .adm-topbar-left
        %h1.adm-topbar-brand
          -#%span.adm-topbar-brand-logo
          -#%span.sr-only Киоск
          Киоск
      .adm-topbar-right
        .adm-topbar-item != '+7 905 716-14-51'
        .adm-topbar-item
          .adm-dropdown
            %button.adm-btn-settings{data: {toggle: "dropdown"}}
              %i.adm-btn-settings-icon
              %span.sr-only Быстрые настройки
            .adm-dropdown-popup.__top-left
              %ul.adm-dropdown-popup-list
                %li.adm-dropdown-popup-item.__active
                  %a.adm-dropdown-popup-link{href: '#todo', title: 'Настроить выгрузку'} Настроить выгрузку
                %li.adm-dropdown-popup-item
                  %a.adm-dropdown-popup-link{href: '#todo', title: 'Другие настройки товаров'} Другие настройки товаров
                %li.adm-dropdown-popup-item
                  %a.adm-dropdown-popup-link{href: '#todo', title: 'Еще настройки'} Еще настройки
/ end Topbar