<!DOCTYPE html>
%html
  %head
    %title Список страниц
  %body
    %ul
      %li
        %a{href: 'system_login.html'} Логин
      %li
        %a{href: 'system_login_errors.html'} Логин (ошибки)
      %li
        %a{href: 'system_signup.html'} Регистрация
      %li
        %a{href: 'system_signup_errors.html'} Регистрация (ошибки)
      %li
        %a{href: 'system_signup_pin.html'} Регистрация (пин)
      %li
        %a{href: 'system_reset_password.html'} Восстановление пароля
      %li
        %a{href: 'dashboard_timeline.html'} Дашборд (таймлайн)
      %li
        %a{href: 'product_list_cards.html'} Товары карточками
      %li
        %a{href: 'product_list.html'} Товары списком
      %li
        %a{href: 'product_list_categories.html'} Товары списком с категориями справа
      %li
        %a{href: 'product_list_empty.html'} Товары списком с категориями справа (пустой список)
      %li
        %a{href: 'edit_product_guide.html'} Редактирование (гайд)
      %li
        %a{href: 'edit_product_ordinary.html'} Редактирование (товар)
      %li
        %a{href: 'edit_product_moysklad.html'} Редактирование (товар из МС)
      %li
        %a{href: 'edit_product_group.html'} Редактирование (группа товаров)
      %li
        %a{href: 'order_list.html'} Список заказов
      %li
        %a{href: 'order.html'} Страница заказа