<!DOCTYPE html>
%html
  %head
    +include './app/shared/system/_head.haml'
  %body
    +include './app/shared/system/_login_navbar.haml'
    .login__content.login__content--fullscreen
      .login__block
        %form.login__form{action: 'signup_errors.html'}
          .login__form-header Создание магазина
          .form-group
            %label.control-label.sr-only Название магазина
            %input.form-control{type: 'text', placeholder: 'Введите название магазина', required: true}
          .form-group
            %label.control-label.sr-only Номер телефона
            %input.form-control{type: 'tel', placeholder: 'Номер телефона', required: true}
          .form-group
            %label.control-label.sr-only Город
            %select.form-control
              - cities = ['Москва', 'Лобня', 'Реутов']
              %option{selected: 'selected'} Выберите город
              - for i in cities
                %option= '#{i}'
          .login__form-actions
            %button.btn.login__form-submit-btn Продолжить

        %p
          Уже есть магазин?
          %br
          %a{href: 'login.html'}
            %strong Войти