<!DOCTYPE html>
%html
  %head
    +include './app/shared/system/_head.haml'
  %body
    +include './app/shared/system/_login_navbar.haml'
    .login__content.login__content--fullscreen
      .login__block
        .alert.alert-info
          Мы выслали пин-код на ваш номер,
          %br
          введите его, чтобы начать работать
        %form.login__form{action: 'orders.html'}
          .login__form-header Создание магазина
          .form-group
            %label.control-label.sr-only Пин-код
            %input.form-control{type: 'password', placeholder: 'Введите пин–код', required: true}
          .login__form-actions
            %button.btn.login__form-submit-btn Создать магазин

        %p
          Уже есть магазин?
          %br
          %a{href: 'login.html'}
            %strong Войти
