<!DOCTYPE html>
%html
  %head
    +include './app/shared/system/_head.haml'
  %body
    +include './app/shared/system/_login_navbar.haml'
    .login__content.login__content--fullscreen
      .login__block
        %form.login__form
          .login__form-header Восстановление пин-кода
          .form-group
            %label.control-label.sr-only Номер телефона
            %input.form-control{type: 'tel', placeholder: 'Номер телефона', required: true}
          .login__form-actions
            %button.btn.login__form-submit-btn Получить новый пин-код

        %p
          Уже есть магазин?
          %a{href: '#/registration'}
            %strong Войти