.login__form
  .alert
    margin: 0

  .help-block
    +antialiased
    margin: 0
    padding:
      top: 0.5em
      bottom: 0.5em
    a
      font-weight: bold
      color: inherit

  .form-group
    margin: 0

    .form-control
      @extend .login__form-input

    &.has-error
      .form-control
        @extend %plain-input__input--error
        display: block

      .help-block
        @extend .alert-danger
        +arrow(top, 7px, $red, transparent)

    select.form-control
      @extend .login__form-select