.navbar-transparent
  @extend .navbar
  @extend .navbar-fixed-top
  background: none

.app-header-navbar
  background-color: $header-navbar-background
  border-bottom: 1px solid $gray-lighter

.header-navbar__title
  font:
    size: $font-size-h1
    weight: bold
  padding-top: 3px

.header-navbar__title,
.header-navbar__brand
  margin-top: 2px

.header-navbar__brand
  margin-left: 25px
