.jstree
  .text-muted
    color: #a1a1a1

.jstree-node
  .jstree-themeicon
    display: none

.jstree-default .jstree-node
  background: none

.jstree-default .jstree-ocl
  @include fa-icon()
  position: relative
  background: none
  &,
  &:empty
    font-size: 12px
    line-height: 24px

// Коды для font-awesome можно подсмотреть в bower_components/font-awesome/sass/variables
.jstree-default .jstree-closed > .jstree-ocl
  &:before
    content: $fa-var-plus-square-o

.jstree-default .jstree-open > .jstree-ocl
  &:before
    content: $fa-var-minus-square-o