[data-sort-url]
  cursor: ns-resize
  background-color: #eee

.ui-state-highlight
  //display: table-row
  background-color: #aaffff
  transition: background-color 0.5s ease
  &:hover
    background-color: red