[data-sort-url]
  padding: 4px 8px
  cursor: ns-resize

.ui-state-highlight
  //display: table-row
  background-color: #aaffff
  transition: background-color 0.5s ease
  &:hover
    background-color: red